// main colors 
$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// primary colors : 
$moderate_blue: #5457b6;
$soft_red: #ed6468;
$light_grayish_blue: #c3c4ef;
$pale_red: #ffb8bb; 

// natural colors : 
$dark_blue: #324152;
$grayish_blue: #67727e;
$light_gray:#eaecf1;
$very_light_gray:#f5f6fa;
